@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #24292E;
}

a{
    color: #24292E;
    text-decoration: none;
}

ul{
    list-style: none;
}

.section-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
}

.inner{
    max-width: 960px;
    margin: 0 auto; 
    padding: 4%;
    font-size: 0.9rem;
}

.logo {
    line-height: 1px;
}

.logo a{
    display: block;
}

#header{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo{
    width: 120px;
}
#header .index{
    display: flex;
    font-size: 0.9rem;
    padding: 10px 0;
}
#header .index li{
    margin-left: 30px;
}
#header .index li a{
    color: #24292e;
}
#header .index li a:hover{
    opacity: 0.7;
}
#header .index li img{
    width: 20px;
}

.mainvisual{
    max-width: 100%;
    margin-bottom: 60px
}

.mainvisual img{
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    object-position: center;
}

#about{
    max-width: 960px;
    display: flex;
    flex-direction: column;
}
#about p{
    text-align: left;
    margin-bottom: 35px;
}
#about p:last-child{
    margin-bottom: 130px;
}

#works{
    max-width: 960px;
    margin-bottom: 130px
}
#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 23px;
}

#works li{
    width: 31%;
}

#news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px dotted #c8c8c8;
    margin-bottom: 130px;
}
#news dt{
    width: 20%; 
    border-bottom: solid 1px #c8c8c8; 
    padding: 15px;
}
#news dd{
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

#contact dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#contact dt{
    width: 15%;
}
#contact dd{
    width: 85%;
    margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea{
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}
#contact dd textarea {
    height: 10rem;
}

.button{
    text-align: center;
}

.button input{
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}

.button input:hover{
    background: #fff;
    color: #24292e;
}

#footer{
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding :10px 20px;
    text-align: center;
}


@media screen and (max-width: 600px) {

    .wrapper {
      margin-bottom: 70px;
    }
    .logo {
      margin-top: 20px;
    }
    .sec-title {
      margin-bottom: 40px;
    }
  
    #header {
      max-width: 100%;
      height: auto;
      flex-direction: column;
    }
    #header li {
      font-size: 0.8rem;
      margin-left: 20px;
    }
    #header li:first-child {
      margin-left: 0;
    }
  
    #works ul {
      flex-direction: column;
    }
    #works li {
      width: 100%;
    }
  
    #news dl {
      flex-direction: column;
    }
    #news dt {
      width: 100%;
      border-bottom: none;
      padding-bottom: 0;
    }
    #news dd {
      width: 100%;
      padding-top: 0;
    }
  
    #contact dl {
      flex-direction: column;
    }
    #contact dt {
      width: 100%;
    }
    #contact dd {
      width: 100%;
    }
  }
  